@import "../../index.scss";
i {
  font-size: 2rem;
}
.tour {
  background: $mainGray;
  margin: 2rem 0;
  img {
    width: 100%;
    display: block;
    min-height: 13rem;
  }
}

@media screen and (min-width: 768px) {
  .tour {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 2rem;
  }
}

.img-container {
  position: relative;
}

.close-btn {
  position: absolute;
  display: block;
  top: 5%;
  right: 5%;
  color: $mainGreen;
  cursor: pointer;
  transition: $mainTransition;
  opacity: 0;
  .fas {
    font-size: 3rem;
  }
}

.img-container:hover .close-btn {
  opacity: 1;
}

.tour-info {
  padding: 1.5rem 1rem;
  h3 {
    text-transform: uppercase;
    color: green;
  }
  h4 {
    text-transform: capitalize;
    padding: 0.5rem 0 1rem 0;
  }
  h5 {
    text-transform: capitalize;
    span {
      color: $mainGreen;
      padding: 0.6rem;
      cursor: pointer;
    }
  }
}
