$notoFont: "Noto Sans HK", sans-serif;

$mainBlack: #222;
$mainGreen: #82b340;
$mainWhite: #fff;
$mainGray: #ececec;

$mainTransition: all 0.3s linear;
* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2.3rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.8rem;
  }

  body {
    font-family: $notoFont;
    background: $mainWhite;
    color: $mainBlack;
  }
}
